@import "../../extras.module";

.container {
  @include flex_wrap_row_align();
  @extend %wh100;
  padding: 20px;
  background: url("https://i.imgur.com/qIufhof.png") center no-repeat;
  background-size: contain;
}

.box1 {
  text-align: center;
}

.link {
  text-decoration: none;
}
