@import "../../extras.module";

.BG__Container {
  display: flex;
  text-align: center;
}

.BG__Stack {
  @include flex_wrap_row_align();
  width: 100%;
  min-height: 150px;
}

.BG__Chip {
  margin: 5px;
  color: black !important;
}
