@import "../../extras.module";

.BG__Container {
  display: flex;
  width: 100vw;
  text-align: center;
  max-height: 80px;
}

.BG__Stack {
  @include flex_wrap_row_align();
  overflow-y: auto;
  gap: 5px
}

.BG__Chip {
  margin: 5px;
  color: black !important;
}
