@import "../../../extras.module";

.MDC {
  &__Container {
    @include flex_wrap_row_align();
    width: 100vw;
    height: 77vh;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
  }

  &__Card {
    @include flex_wrap_row_align(null, flex-start);
    background-color: black;
    position: relative;
    opacity: .7;
  }

  &__CardMedia {
    max-width: 300px;
  }

  &__Content {
    &_UnderTitle {
      width: 100%;
      color: white;
      display: flex;
      gap: 8px;
    }

    &_NumberBox {
      border: 1px solid;
      padding: 0 3px;
    }

    &_Info {
      @include flex_wrap_row_align();
      gap: 10px
    }
  }

  &__Rating {
    left: 20px;
    top: 20px;
    height: 20px;
    opacity: 1;
    text-shadow: white;
  }

  &__Overview {
    max-width: 800px;
    @include flex_wrap_column_align();
    text-align: justify;
    padding: 10px;
  }
}


.StarIcon {
  opacity: .5;
  color: grey;
}


