@mixin pattern($top) {
  position: fixed !important;
  width: 100vw;
  top: $top !important;
  z-index: 9999 !important;
}

.LinearProgress {
  @include pattern(0);
}

.Alert {
  @include pattern(0);
}