@import "../../extras.module";

.Ep {
  &__Container {
    @include flex_wrap_row_align();
    @extend %wh100;
  }

  &__Card {
    position: relative;
    @include flex_wrap_column_align();
    margin: 10px;
    width: 200px;
    height: 435px;

    &_Button {
      @extend %wh100
    }

    &_Box {
      @include flex_wrap_column_align();
      @extend %wh100;
      background-size: contain;
      background-repeat: no-repeat;

      &_Box {
        @include flex_wrap_row_align(null, flex-end);
        @extend %wh100;
        padding-left: 4px;
        padding-bottom: 4px;

        &_T {
          position: absolute;
          bottom: 5px;
          @include flex_wrap_column_align();
          text-align: right;
          width: 100%;
        }
      }
    }

    &_Content {
      @include flex_wrap_column_align(null, space-between);
      @extend %wh100;
      z-index: 1004;

      &_Original_Title {
        transform: scale(.5, .5);

        &:hover {
          transform: scale(1, 1);
          transition-duration: .5s;
        }
      }
    }


  }

  &__BG {
    &_Box {
      position: fixed;
      width: 100vw;
      top: 0;
      z-index: 1100;
      @include flex_wrap_column_align();

      &_Container {
        max-height: 40px;
        @include flex_wrap_row_align();
      }

      &_Box {
        position: fixed;
        z-index: 0;
        top: 45px;
        width: 20%;
      }
    }
  }
}


.pie {
  display: inline-block;
  position: relative;
  margin: .5em;
  width: 8em;
  height: 8em;
  border-radius: 50%;
}

.p4 {
  background-image: linear-gradient(270deg, transparent 100%, steelblue 50%),
  linear-gradient(180deg, #ddd 50%, steelblue 50%);
}

.InView__Button_More {
  z-index: 1230;
}

.FG {
  z-index: 1200;
  position: fixed;
  bottom: 2px;
  right: 2px;
}

