@import "index.extras";
$button-w: 130px;

.LG__Stack {
  @include flex_wrap_row_align();
  width: $button-w;
}

.LG__Button {
  width: $button-w;
}

.MUL {
  height: 4px;
  width: 0;
  transition: 1s;
  transition-timing-function: linear;
}

.BG__Box_Container {
  @include flex_wrap_row_align();

}



