@import "../../extras.module";

.Badge__Box {
  @include flex_wrap_row_align();
  position: absolute;
  top: 0;
  left: 0
}

.Badge__Box_Box {
  margin: 8px;
}

.Badge__CP {
  position: absolute;
  z-index: 2;
}

.Pointer {
  position: absolute;
  top: 15px;
  right: -80px;
  z-index: 2400;
  color: white;

}
