@import "index.extras";

.BDrop__Box {
  @extend %wh100;
  @include flex_wrap_row_align();
}

.BDrop__Box_Box {
  background-repeat: no-repeat;
  background-size: contain;
  width: 60%;
  height: 70%;
}
