@import "../../extras.module";

.FG {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  justify-content: space-between !important;
}

.Sed__Box_Button {
  max-width: 100px;
}

.Sed__BG_Container {
  height: 100%;
  @include flex_wrap_row_align();
}

.Pointer {
  position: absolute;
  top: -50px;
  left: -5px;
}

.Typography__Genres {
  z-index: 1300;
  position: fixed;
  bottom: 7px;
  left: 10px;
  opacity: .4;

  &:hover {
    opacity: 1;
    transform: translateX(10px) scale(1.4, 1.4);
  }
}

