@import "../../extras.module";

.FG {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  justify-content: space-between !important;
}

.Sed__Box_Button {
  max-width: 100px;
}

.Sed__BG_Container {
  @include flex_wrap_row_align(null, flex-start);
  flex-wrap: nowrap;
  height: 60px;
}

.Pointer {
  position: absolute;
  top: -50px;
  left: -5px;
}

.Typography__Genres {
  z-index: 1300;
  position: fixed;
  bottom: 7px;
  left: 10px;
  opacity: .4;

  &:hover {
    opacity: 1;
    transform: translateX(10px) scale(1.4, 1.4);
  }
}

.Menu {
  position: fixed;
  max-height: 50px;
  margin: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: auto;
}

.SearchField {
  position: fixed;
  border-radius: 5px;
  top: -10px;
  width: 50%;
  left: 50%;
  padding: 10px;
  transform: translate(-50%);
}

