@import "../../extras.module";
.PSl__Grid{
  @include flex_wrap_row_align();
  gap: 16px;
}

.PSl__Grid_Grid1{
  position: relative;
  top: -19px;
  padding-bottom: 0;
  height: 10px;
}

.PSl__Grid_Grid2{
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(140%, -18%);
}