.PSl__Grid{

  display: flex;
  align-items: center;
  gap: 16px;
}

.PSl__Grid_Grid1{
  position: relative;
  top: -20px;
}

.PSl__Grid_Grid2{
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(130%, -22%);
}