%flex_wrap {
  display: flex;
  flex-wrap: wrap;
}

%wh100 {
  width: 100%;
  height: 100%;
}

@mixin flex_wrap_row_align($justify:center, $align:center) {
  @extend %flex_wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex_wrap_column_align($justify:center, $align:center,) {
  flex-direction: column;
  @include flex_wrap_row_align($align, $justify)
}